{% extends "navbar.html" %}
{% block body %}
<div class="container">
   <center><h1>The God of War. Ares!</h1></center>
   <p>
<img src="../../static/Ares.jpg" alt="Mars" align = "right" style="width:400px;height:500px;border:2;" hspace="20"style="float: right;">
           Here's the greek god of war Ares. His father was
           <a href="/greeks/greekgods/zues.html"> Zues</a>, if you're good at family rules
           you'll know that makes him half brother to heracles(huh this paragraph looks familiar). His mother was <a href="/greeks/greekgods/hera.html">Hera. </a>
         </p>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
  function goBack() {
      window.history.back();
  }
  </script>
</body>
</html>
{% endblock %}
