{% extends "navbar.html" %}
{% block body %}
<div class="container">
   <h1>Welcome Citizen!</h1>
   <p class="lead"> You've only gone and picked the damn best mythology ever to grace this mortal plain,
    now pick to learn of the gods or men of these great people.</p>
</div>
<a href="/greeks/greekgods.html">
<center><button type="button" class="btn btn-lg">Gods</button></a>
<a href="greeks.html">
<button type="button" class="btn btn-lg">Men</button></a>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script>
function goBack() {
    window.history.back();
}
</script>
</body>
</html>
{% endblock %}
