{% extends "navbar.html" %}
{% block body %}
	 <div class="container">
	    <center><h1>The mightiest might gods!</h1>
	    <p class="lead">They're all cooler than you'll ever be, sorry.</p>
        </div>
        <a href="/greeks/greekgods/zues.html">
  <center><img src="../static/zues.jpg" alt="zues" style="width:400px;height:500px;border:2;" hspace="20"></a>
  <h2>Zues-God of the sky</h2>
    <a href="/greeks/greekgods/hera.html">
    <img src="../static/hera.jpg" alt="hera" style="width:400px;height:500px;border:2;" hspace="20"></a>
    <h2>Hera-Queen of the gods</h2>
    <a href="/greeks/greekgods/ares.html">
    <img src="../static/Ares.jpg" alt="ares" style="width:400px;height:500px;border:2;" hspace="20"></a>
    <h2>Ares-God of war</h2>
  </center>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
  function goBack() {
      window.history.back();
  }
  </script>
</body>
</html>
{% endblock %}
