{% extends "navbar.html" %}
{% block body %}
<div class="container">
   <center><h1>The Queen of the gods. Hera.</h1></center>
   <p>
<img src="../../static/hera.jpg" alt="jupiter" align = "right" style="width:400px;height:500px;border:2;" hspace="20"style="float: right;">
           Here is the queen of the gods and wife of
           <a href="/greeks/greekgods/zues.html"> Zues</a>, Juno. Mother of<a href="/greeks/greekgods/ares.html"> Ares</a> and possibly
         the only god that wishes for the death of heracles. (families eh?). </p>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
  function goBack() {
      window.history.back();
  }
  </script>
</body>
</html>
{% endblock %}
