{%extends "navbar.html" %}
{%block content %}
	 <div class="container">
	    <center><h1>Welcome!</h1>
	    <p class="lead">It's the homepage yo</p></center>
        </div>
        <a href="/romans">
  <center>
</a>
<figcaption> login here</figcaption>
<a href="/login">
</a>
<figcaption> Fabulous greeks (can you name another culture that could do battle AND theatre?) </figcaption></center>
<br><br>
<h3>Posts:</h3>
{% for post in posts %}
  <strong>Title:</strong> {{ post.title }} <br>
  <strong>Post:</strong> {{ post.description }} <br>
<br>
{% endfor %}
{% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
{% endblock %}


<a href=”/notes”>View all notes</a>
<br>
<a href=”/notes/create”>Create a note</a>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
