{% extends "navbar.html" %}
{% block body %}
	 <div class="container">
	    <center><h1>The kinda mighty Jupiter!</h1></center>
      <p>
<img src="../../static/jupiter.JPG" alt="jupiter" align = "right" style="width:400px;height:500px;border:2;" hspace="20"style="float: right;">
              Here's the king of the roman gods, god of the skies etc. JUPITER, he's also a planet I suppose? Husband to
              <a href="/romans/romansgods/juno.html">Juno</a> with a 50/50 commitment plan, 50% unfaithful and 50% kinda faithful.
              He fathered many children including the war god
              <a href="/romans/romansgods/mars.html"> Mars</a> and the demigod hercules,
              and yes you read that correctly hercules was roman! He used a lightning bolt as his main weapon
            just like he did in......I mean just like zues did in that totally different religion.</p>
</div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
  function goBack() {
      window.history.back();
  }
  </script>
</body>
</html>
{% endblock %}
