{% extends "navbar.html" %}
{% block body %}
<div class="container">
   <center><h1>The God of War. Mars!</h1></center>
   <p>
<img src="../../static/Mars.JPG" alt="Mars" align = "right" style="width:400px;height:500px;border:2;" hspace="20"style="float: right;">
           Here's the roman god of war mars. Named just like the planet (it's almost like they wanted something to point at
           when saying "for god sake"), his father was
           <a href="/romans/romansgods/jupiter.html"> Jupiter</a>, if you're good at family rules
           you'll know that makes him half brother to hercules. His mother was <a href="/romans/romansgods/juno.html">juno. </a>
         </p>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
  function goBack() {
      window.history.back();
  }
  </script>
</body>
</html>
{% endblock %}
