{% extends "navbar.html" %}
{% block body %}
<div class="container">
 <h1>Welcome to the greek pantheon</h1>
 <p class="lead"> pick your favourite god (if you don't say zues he'll literally kill you)</p>
   <a href="roman-gods.html">
<img src="static/vmask.jpg" alt="Vmask" style="width:100px;height:300px;border:2;">
</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script>
function goBack() {
    window.history.back();
}
</script>
</body>
</html>
{% endblock %}
