{% extends "navbar.html" %}
{% block body %}
	 <div class="container">
	    <center><h1>The less mighty of the mighty gods</h1>
	    <p class="lead"> they're just copy paste gods of the greek ones hoesntly really boring.</p>
        </div>
        <a href="/romans/romansgods/jupiter.html">
  <center><img src="../static/jupiter.JPG" alt="jupiter" style="width:400px;height:500px;border:2;" hspace="20"></a>
  <h2>Jupiter-God of the sky</h2>
    <a href="/romans/romansgods/juno.html">
    <img src="../static/juno.jpg" alt="juno" style="width:400px;height:500px;border:2;" hspace="20"></a>
    <h2>Juno-Queen of the gods</h2>
    <a href="/romans/romansgods/mars.html">
    <img src="../static/Mars.JPG" alt="mars" style="width:400px;height:500px;border:2;" hspace="20"></a>
    <h2>Mars-God of war</h2>
  </center>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
  function goBack() {
      window.history.back();
  }
  </script>
</body>
</html>
{% endblock %}
