{% extends "navbar.html" %}
{% block body %}
<div class="container">
   <h1>Welcome Pleb.</h1>
   <p class="lead"> Now that you've chosen the worse of the two civilisations you can redeem yourself by atleast learning
   about the gods and men that made these people moderately interesting.</p>
</div>
<a href="/romans/romansgods.html">
<center><button type="button" class="btn btn-lg">Gods</button></a>
<a href="greeks.html">
<button type="button" class="btn btn-lg">Men</button></a>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script>
function goBack() {
    window.history.back();
}
</script>
</body>
</html>
{% endblock %}
