{% extends "navbar.html" %}
{% block body %}
	 <div class="container">
	    <center><h1>That page doesn't exist my friend, try again</h1>
	    </center>
        </div>
				<a href="/">
				<center><button type="button" class="btn btn-lg">Home</button></a>
				<a href="/logout">
				<button type="button" class="btn btn-lg">Logout</button></a>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
{% endblock %}
