{% extends "navbar.html" %}
{% block body %}
	 <div class="container">
	    <center><h1>That page doesn't exist my friend, try again</h1>
	    </center>
        </div>
        <a href="/romans">
  <center><img src="static/romans.jpg" alt="romans" style="width:400px;height:250px;border:2;" hspace="20">
</a>
<figcaption> Pathetic romans(they're boring copycats just don't bother)</figcaption>
<a href="/greeks">
<img src="static/greeks.jpg" alt="greeks" style="width:400px;height:250px;border:2;" hspace="20">
</a>
<figcaption> Fabulous greeks (can you name another culture that could do battle AND theatre?) </figcaption></center>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
{% endblock %}
