{% extends "navbar.html" %}
{% block body %}

	 <div class="container">
	    <center><h1>The all mighty ZUES!</h1></center>
      <p>
<img src="../../static/zues.jpg" alt="jupiter" align = "right" style="width:400px;height:500px;border:2;" hspace="20"style="float: right;">
              Here's the king of the Greek gods, ZUES. Husband to
              <a href="/greeks/greekgods/hera.html">Hera</a> with a 50/50 commitment plan, 50% unfaithful and 50% kinda faithful.
              He fathered many children including the war god
              <a href="/greeks/greekgods/ares.html"> Ares</a> and the demigod heracles,
              and yes you read that correctly the greek version was called heracles. He used a lightning bolt as his main weapon
            now what's more terrifying than electricity? absolutely nothing.</p>
</div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script>
  function goBack() {
      window.history.back();
  }
  </script>
</body>
</html>
{% endblock %}
